html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a { 
  text-decoration: none;


}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
    color: #303846;

}
 

.header {
  display: flex;
  background-color:white;
  
}


.logo { 
display: flex;
justify-content: space-between;
align-items: center;
}

.logo img {
  display: flex;
padding: 10px;
margin: 10px;
width: 70px;
height: 70px;
}

.logo p {
  display: flex;
  font-weight: 700;
 }

.right {
position: relative;
left: 750px;

}
.menu {
display: flex;
width: 70px;
height: 70px;
padding: 10px;
margin: 10px;
align-items: center;

}
 
.menu li {
  display: inline;
  list-style-type: none;
  margin: 10px;
  
 }

 .menu a {
  font-weight: 700;
  text-align: justify-all;
 }

 .head {
  white-space:nowrap;

 }


.main-blok1 {
  display: flex;
   background: url(images/banner.png);
   width: 100px;
  
}
.main-blok1__images {
  display:  flex;
  position: relative;
  box-sizing: border-box;
}
.img-center {
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 500px;
  top: 300px;
}
.main-blok1__info h1 {
  padding: 20px;
  position: absolute;
  color: white;
  left: 400px;
  top: 650px;
  font-size: 70px;
 
}

.main-blok1__info span {
  padding: 20px;
  position: absolute;
  color: white;
  left: 550px;
  top: 790px;
  font-weight: bold;
}
.button1 {
  background: transparent;
  border: 1px solid white;
  border-radius: 9px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  position: absolute;
  left: 600px;
  top: 940px;
  font-weight: bold;
}
.main-blok2 {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin: 40px;
  box-sizing: border-box;
  color: black;
 position: relative;
 
}


.section1 {
  align-self: flex-start;
  position: absolute;
  top:-20px;
  left:50px;
}
.section2 {
  align-self: center;
  position: absolute;
  top: -20px;
  left: 420px;
}
.section3 {
  align-self: flex-end;
  position: absolute;
  top:-20px;
  right: 350px;

}

.vid {
  display: inline-block;
  text-align: left;
  padding: 20px;
}

.infra {
  display: inline-block;
  padding: 20px;
  flex-grow: unset;
}
.blizost {
  display: inline-block;
  padding: 20px;
  text-align: left;
}

.main-blok3 {
  background: #f7f7f7;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
  color: black;
 position: relative;
}

.about {
  align-self: flex-start;
  position: absolute;
  top: 30px;
  left:100px;

}
  
.infa1 {
  margin-right: 340px;
padding: 20px;
}




.foto1 {
  float: right;
  width: 300px;
  height: 100;
}


.main-blok4 {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 40px;
  box-sizing: border-box;
  color: black;
 position: relative;
 
}
.mesto {
  align-self: flex-end;
  position: absolute;
  top: 30px;
  right: 360px;
}

.infa2 {

  margin-left: 260px;
  padding: 20px;
}

.foto2 {
float: left;
height: 200px;

}


.form {
  background: #f7f7f7;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
  color: black;
 position: relative;
 width: 100%;


}



h2 {

  align-self: center;
  position: absolute;
  top: 20px;
  left: 480px;
}
.fieldset1 {
  min-width: 25em;
  padding-left: 10px;
  padding-right: 15px;
  border: 2px solid #038686;
  margin: 3em;
  position: absolute;
  top: 40px;
  left: 400px;
}
.fieldset2 {
  min-width: 25em;
  padding-left: 10px;
  padding-right: 15px;
  border: 2px solid #038686;
  margin: 3em;
  border-radius: 3px;
  position: absolute;
  top: 130px;
  left: 400px;
}

legend {
  color: rgb(7, 202, 216);
  font-weight: bold;
}

button {
  
  position: absolute;
  top: 300px;
  left: 450px;
}