html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a { 
  text-decoration: none;


}
body {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  padding: 0;
  margin: 0;

}
 

header {
display: flex;
justify-content: space-between;
position: fixed;
  background-color: white;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  right: 0;
  top: 0;

}

  
.logo { 
display: flex;
align-items: center;
}
.logo_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
display: flex;
height: 30px;
width: 30px;
}
.logo_png {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;

}
.right {
display: flex;
align-items: center;
}
 
 .head {
  display: block;
  text-decoration: none;
  margin-right: 10px;
  text-decoration: solid;
font-size: 14px;
font-weight: bold;
 }


.main {
  display: block;
  margin-top: 50px;
}

.main-blok1 {
  display: flex;
   background-image: url(../images/banner.png);
   background-position: center center;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
 height: 450px;
}

.center-logo {
 height: 150px;
 width: 150px;
 margin-top: 80px;
} 
.main-blok1__info1 {
  display: block;
color: white;
margin-bottom: 15px;
margin-top: 20px;
font-size: 35px;
font-weight: bold;
 
}

.main-blok1__info2 {
  display: block;
  color: white;
  margin-bottom: 10px;
margin-top: 10px;
 
}

.button1 {
  display: inline-block;
  background: transparent;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: bold;
 
}


.main-blok2 {
  background: white;
  display: block;
  padding-top: 40px;
  padding-bottom: 45px;
  box-sizing: border-box;
  color: black;
 position: relative;
 
}

.container_blok2 {
display: flex;
justify-content: space-between;
width: 1000px;
margin-left: 0px;
margin-right: -200px;
margin-bottom: 0px;
}

.section1 {
  display: block;
  width: 30%;
 
}
.sect1_h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-block-end: 15px;
  margin-block-start: 15px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
}

.section2 {
  
  
}
.section2 h2 {
  display: flex;

}

.section3 {
 
 
}


.section3 h2 {
  display: flex;
  position: relative;
  top: 10px;
  left: 20px;
}

.vid {
  display: block;
  
}

.infra {
  display: block;
 
}
.blizost {
  display: block;
 
}





.main-blok3 {
  background: #f7f7f7;
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
  color: black;
 position: relative;
}

.about {
  align-self: flex-start;
  position: absolute;
  top: 30px;
  left:100px;

}
  
.infa1 {
  margin-right: 340px;
padding: 20px;
}




.foto1 {
  float: right;
  width: 300px;
  height: 100;
}


.main-blok4 {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 40px;
  box-sizing: border-box;
  color: black;
 position: relative;
 
}
.mesto {
  align-self: flex-end;
  position: absolute;
  top: 30px;
  left: 680px;
}

.infa2 {

  margin-left: 260px;
  padding: 20px;
}

.foto2 {
float: left;
height: 200px;

}


.form {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  padding: 80px;
  box-sizing: border-box;
  color: black;
  width: 100%;
 margin: 0 auto;
 height: 700px;
 float: left;


}

.content {
  clear: both;
	height: 200px;
	position: relative;
}


.text {
 position: relative;
 padding: 10px;
 left: 10%;
}
.fieldset1 {
  display: flex;
  padding: 30px;
  margin: 15px;
height: 170px;
  
}
.fieldset2 {
  display: flex;
  padding: 30px;
  margin: 15px;
  height: 170px;
}  

legend {
  color: rgb(7, 202, 216);
  font-weight: bold;
}


.field1 {
clear: both ; 
text-align: right;
line-height:35px;

}

.field2 {
  clear: both; 
  text-align:right;
  line-height:35px;
  }

  label {
    float:left;
    padding-right:10px;
  }
  
.select {
 width: 137px;
 text-align: center;
 border-radius: 6px;
 -moz-border-radius: 6px;

}

input {
  border-radius: 6px;
  -moz-border-radius: 6px;
}

  button {
    border: 2px solid #038686;
    background: transparent;
    border-radius: 9px;
    font-size: 16px;
  padding: 15px 32px;
color:#038686 ;
float: left;
padding: 20px;
margin: 10px;
  }


  .main:after {
    content: "";
    clear: both;
    display: table;
  }


.footer {
  background-color: #303846;
  color: white;
width: 100%;

}

.footer_block {
  display: inline-block;
  vertical-align: top;
 align-items: center;
}
  



.menu-footer {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}


.menu1 {
  position: relative;
left: 200px;
top: 10px;
}

.logo_footer {
  display: flex;
 padding: 10px;
 margin: 10px;

}
.name {
  display: flex;
  padding: 5px;
  margin: 10px;
  position: relative;
  top:-60px;
  left: 60px;
  font-size: 14px;
  
}

.year {
  display: inline-block;
    position: relative;
  top:-40px;
  left: 5px;
  font-size: 12px;
  
  }

.menu2 {
  position: relative;
left: 350px;
top:10px;
}

.menu2 li {
  font-size: 12px;
  position: relative;
  left: 10px;
  top:10px;
}


.menu3 {
  position: relative;
left: 550px;
top:10px;
}


.menu3 li {
  font-size: 12px;
  position: relative;
  left: 5px;
  top: 10px;
}
