html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a { 
  color: #000;
  text-decoration: none;


}
body {
  font-family: Arial, Helvetica, sans-serif;
    color: #303846;

}

.container {
  max-width: 1170px;  
  margin: 0 auto;
  padding: 0 0px;

}


.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  
}


.logo { 
  font-family: Arial, Verdana, Sans-serif;
  font-size: 16px;
  color:#303846;
  font-weight: 700;
  float:left;
  vertical-align: middle;
}
 
.logo div {
  text-align: center;
}

.menu__list {
  display: flex;
}

.menu__list li {
  list-style-type: none;
  margin-left: 30px;
 }

 .menu__list a {
  font-weight: 700;
 }
